:root {
  --primary-color: rgb(18, 50, 131);
  --secondary-color: #c06c84;
  --tertiary-color: #6c5b7b;
  --accent-color: #f67280;
  --heading-font: "Roboto Slab", serif;
  --primary-font: "Lato", sans-serif;
  --background-color: #e2eafc;
}

body {
  margin-bottom: 20px;
}

h1 {
  font-family: var(--heading-font);
  font-size: 50px;
  font-weight: bold;
}

h2 {
  color: var(--primary-color);
  font-family: var(--heading-font);
  font-size: 35px;
  font-weight: bold;
}

h3 {
  font-size: 20px;
}

h4 {
  font-size: 25px;
  font-family: var(--heading-font);
}

p {
  line-height: 1.75;
}

nav {
  font-weight: bold;
}

nav ul {
  padding: 0;
  margin: 0vmax;
}
nav li {
  font-family: var(--primary-font);
  display: inline;
  list-style: none;
  line-height: 42px;
  margin-left: 10px;
}
nav a {
  text-decoration: none;
  color: var(--primary-color);
  transition: all 100ms ease-in-out;
}

nav a:hover,
nav li.active a {
  color: var(--tertiary-color);
  font-weight: bold;
}

footer {
  margin: 40px 0;
}

footer .contact-card {
  background-color: var(--accent-color);
  font-weight: bold;
  border-radius: 6px;
  padding: 30px 120px 5px;
}
footer .contact-card p {
  font-size: 15px;
  padding: 0;
}

footer .email-link {
  text-decoration: none;
  color: var(--primary-color);
  font-size: 26px;
  font-weight: bold;
  font-family: var(--heading-font);
}
footer .email-link:hover {
  color: var(--tertiary-color);
}

footer .social-links a {
  background-color: var(--primary-color);
  margin: 0 20px;
  padding: 5px 14px;
  font-size: 25px;
  border-radius: 10px;
  color: var(--accent-color);
  transition: all 100ms ease-in-out;
}

footer .social-links a:hover {
  color: var(--secondary-color);
}
.nav-logo {
  color: var(--primary-color);
  font-size: 30px;
}
.nav-container {
  box-shadow: 0 0 3px 0 rgb(0, 0, 0, 0.2);
  margin: 10px 30px 0 30px;
  padding: 0;
}

.nav-content {
  padding: 10px 20px;
}

.hero {
  background-color: var(--background-color);
  font-family: var(--primary-font);
  padding: 100px 20px;
  text-align: center;
  color: var(--primary-color);
  border: thick double var(--primary-color);
  border-radius: 4px;
  border-width: 10px;
  margin: 10px 30px;
}

.hero h1 {
  font-size: 64px;
}
.hero h2 {
  line-height: 2;
}

.primary-button {
  background: var(--secondary-color);
  font-family: var(--primary-font);
  border-radius: 50px;
  font-weight: 700;
  color: var(--primary-color);
  padding: 15px 40px;
  border: solid var(--primary-color);
  box-shadow: 2px 3px 3px rgb(0, 0, 0, 0.2);
}

.primary-button:hover {
  background: #f67280;
}

.secondary-button {
  background: var(--tertiary-color);
  font-family: var(--primary-font);
  border-radius: 50px;
  font-weight: 700;
  color: var(--background-color);
  padding: 15px 30px;
  border: solid var(--primary-color);
  box-shadow: 2px 3px 3px rgb(0, 0, 0, 0.5);
  margin: 20px 5px 0, 0;
}
.secondary-button:hover {
  background: var(--background-color);
}

.image-col {
  background: aliceblue;
  border-radius: 4px;
  max-width: 100%;
  padding: 40px 20px;
  margin: 10px;
  height: auto;
  box-shadow: 2px 3px 3px rgb(0, 0, 0, 0.2);
}

.img-fluid {
  border-radius: 8px;
  box-shadow: 2px 3px 3px rgb(0, 0, 0, 0.2);
}

.project-description {
  background: var(--background-color);
  border-radius: 4px;
  box-shadow: 2px 3px 3px rgb(0, 0, 0, 0.2);
  margin: 10px;
  padding: 40px 20px;
}

.content-container {
  padding: 60px 40px;
}

.content {
  margin: 30px 30px;
}

@media (max-width: 900px) {
  h1 {
    font-size: 40px;
  }

  .hero h2 {
    font-size: 30px;
    line-height: 1.5;
  }

  .hero {
    padding: 40px 20px;
  }

  .project-description {
    text-align: center;
    margin: 20px 5px;
  }

  .content-container {
    text-align: center;
  }
  .content-container h2 {
    line-height: 1.5;
  }

  footer .contact-card {
    padding: 15px 10px 10px;
  }
}
